[gcode_macro _USER_VARIABLES]
# Enable verbose output to let the macro have a chat
variable_verbose: True

###################################################
# Feedrate and accels setpoints for all the macros
###################################################

## SPEEDS
variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_drop_speed: 15

## ACCELS
## Those are specific accel settings for some of the macros
variable_homing_travel_accel: 3000
variable_tilting_travel_accel: 3000

## Accel to decel scale factor (default is 75% of the accel)
variable_accel_to_decel_factor: 0.75

#################################################
# Homing, start_print and end_print variables
#################################################

## Force always a full homing and QGL/Z_TILT during the START_PRINT macro
variable_force_homing_in_start_print: True

## Z hop before homing to avoid grinding
## the bed due to the gantry sag
variable_homing_zhop: 5

## XY axis homing order and backoff distance after touching the endstops
variable_homing_backoff_distance_xy: -5, -5 # move 5mm in negative direction on both axis

## Temperature of the extruder used to preheat the chamber temperature and do some START_PRINT actions
variable_safe_extruder_temp: 150

## Prime line parameters
variable_prime_line_xy: 5, 2.5 # starting point
variable_prime_line_direction: "X" # can also be set to "Y"
variable_prime_line_length: 80 # length of the prime line on the bed (in mm)
variable_prime_line_purge_distance: 60 # length of filament to purge (in mm)
variable_prime_line_flowrate: 10 # mm3/s used for the prime line

## Park position used when pause, end_print, etc...
variable_park_position_xy: -1, -1
variable_park_lift_z: 50

## Automatically disable motors in the END_PRINT macro
variable_disable_motors_in_end_print: False

## Automatically turn-off heaters in the END_PRINT macro
variable_turn_off_heaters_in_end_print: True

##########################################################
# Voron TAP probe variables (if available in the machine)
##########################################################

variable_tap_max_probing_temp: 150
variable_tap_deactivation_zhop: 5 # this is used to Z hop before restoring the temperature to avoid burnt PEI

##########################################
# Material and specific print parameters
##########################################

## default START_PRINT parameters
variable_print_default_bed_temp: 60
variable_print_default_extruder_temp: 220
variable_print_default_chamber_temp: 0
variable_print_default_chamber_max_heating_time: 45
variable_print_default_soak: 2
variable_print_default_material: "PLA"

## Material configuration parameters applied during START_PRINT by using the slicer MATERIAL variable
## FYI, retract paramaters are used only if firmware retraction is enabled, filter speed (in %) is used if
## there is a filter installed on the machine, etc...
## If you are using another material, just extend the list bellow with a new material and everything should work :)
variable_material_parameters: {
        'PLA': {
            'pressure_advance': 0.0525,
            'retract_length': 0.75,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 0,
            'additional_z_offset': 0
        },
        'PET': {
            'pressure_advance': 0.0650,
            'retract_length': 1.4,
            'unretract_extra_length': 0,
            'retract_speed': 30,
            'unretract_speed': 20,
            'filter_speed': 0,
            'additional_z_offset': 0.020
        },
        'ABS': {
            'pressure_advance': 0.0480,
            'retract_length': 0.5,
            'unretract_extra_length': 0,
            'retract_speed': 40,
            'unretract_speed': 30,
            'filter_speed': 80,
            'additional_z_offset': 0
        }
    }

################################################
## Filter specific variables
################################################
## This section is only considered if a filter is available (and enabled)

variable_filter_default_time_on_end_print: 600 # seconds

################################################
# Other hardware options used in the macros
################################################

## Resonnance testing position (if an accelerometer is installed in the machine)
## If test point is let to -1,-1, it default to the center of the bed at 50mm high
variable_resonnance_test_point_xy: -1, -1
variable_resonnance_test_z_clearance: 50
